<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:https="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head ('Home')">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments/menu :: menu"></div>
        <div class="col-sm p-3 min-vh-100" >
            <div class="content-container">
                <div th:replace="fragments/jibberbox :: jibberbox"></div>
                <div th:replace="fragments/jibberfeed :: jibberfeed"></div>
            </div>
        </div>
    </div>
</div>
</body>
