<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:https="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jibber Jabber</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="/css/home.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-auto bg-light sticky-top">
            <div class="d-flex flex-sm-column flex-row flex-nowrap bg-light align-items-center sticky-top">
                <a href="/" class="d-block p-3 link-dark text-decoration-none">
                    <i class="bi-chat-text fs-1"></i>
                </a>
                <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center justify-content-between w-100 px-3 align-items-center">
                    <li class="nav-item">
                        <a th:href="@{/home}" class="nav-link py-3 px-2"> <!-- Thymeleaf Link to /home-->
                            <i class="bi-house fs-1"></i>
                        </a>
                    </li>
                    <li> <!-- Only show for logged in users-->
                        <a th:href="@{/users/${handle}}" class="nav-link py-3 px-2"> <!-- Thymeleaf Link to <handle>-->
                            <i class="bi-person fs-1"></i>
                        </a>
                    </li>
                    <li> <!-- Only show for logged in users-->
                        <a th:href="@{/users}" class="nav-link py-3 px-2" > <!-- Thymeleaf Link to /users-->
                            <i class="bi-people fs-1"></i>
                        </a>
                    </li>
                    <li sec:authorize="isAuthenticated()"> <!-- Only show for loged in users-->
                        <a href="javascript: document.logoutForm.submit()" class="nav-link py-3 px-2" >
                            <i class="bi-box-arrow-left fs-1"></i>
                        </a>
                        <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
                            <input type="submit" value="Logout" />
                        </form>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm p-3 min-vh-100" >
            <div class="jibber-feed">
                <div class="jibber-feed">
                    <div class="content-container">
                        <div class="profile-header">
                            <h3>Recent Jibbers from @<span th:text="${handle}"></span></h3>
                        </div>

                        <div class="jibber-container mb-3 p-3 border bg-light"> <!--Loop throught all Jibbers-->
                            <div class="avatar-container">
                                <img /> <!--Show users avatar (https://nl.gravatar.com/site/implement/images/)-->
                            </div>

                            <div class="jibber-message">
                                <div class="jibber-header mb-2">
                                    <span class="jibber-header-handle"></span> <!--Show Author handle-->
                                    -------
                                    <span class="jibber-header-date"></span> <!--Show the date-->
                                </div>

                                <div class="jibber-message"></div> <!--Finally, show the Jibber message-->
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>